<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SystemManagemntCofffe_Demo.Properties.Settings.cnnStr"
            connectionString="Data Source=LAPTOP-QHAH49DL\SQLEXPRESS01;Initial Catalog=QLCoffee_Demo;Integrated Security=True;Encrypt=False" />
    </connectionStrings>
</configuration>